* {
	box-sizing: border-box;
	user-select: none;
	font-size: 20px;
}
body {
	margin: 0;
	background-color: #202;
	color: #FDF;
	font-family: cursive;
}

.header {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #F2F2F2;
	color: #202;
	font-size: 24px;
	line-height: 60px;
}
.h1 {
	position: relative;
}
#h10 {
	display: none;
	position: absolute;
	top: 60px;
	width: 100vw;
	height: calc(100vh - 60px);
	opacity: 0.4;
	background-color: #444;
}
#h11 {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;	
}
#h11_word {
	transition: transform 1s;
	transform: rotate(0deg);
}
#h12 {
	display: none;
	position: absolute;
	top: 60px;
	width: 280px;
	height: calc(100vh - 60px);
	background-color: #222;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}
#now_cont {
	display: none;
}
.h12_item {
	width: 100%;
	border: 1px solid #222;
	padding: 20px;
	cursor: pointer;
	background-color: #BBB;
}
.h12_item:hover {
	background-color: #DDD;
}
#h2 {
	width: calc(100% - 120px);
	position: absolute;
	top: 0px;
	left: 60px;
	text-align: center;
}

.cont {
	width: 768px;
	margin: auto;
}
.cont_item {
	display: none;
	width: 100%;
	padding: 10px;
	background-color: #DDD;
	color: #222;
}

.footer {
	float: left;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #848;
	color: #000;
	font-size: 20px;
	font-family: cursive;
}
@media(max-width: 768px) {
	#h12 {width: 100%;}
	.cont {width: 100%;}
}

#c11 {
	max-width: 440px;
	margin: auto;
	overflow: hidden;
	font-size: 24px;
}
#c11_title {
	width: calc(100% - 10px);
	height: 100px;
	margin: 5px;
	border: 2px solid #222;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
}
#c11_t1 {
	width: calc(100% - 20px);
	float: left;
	font-size: 20px;
}
#c11_t2 {
	width: 20px;
	text-align: right;
	float: left;
	font-size: 20px;
}
#c11_t3 {
	text-align: right;
	font-size: 40px;
	user-select: text;
}

.c11_item {
	float: left;
	width: calc(25% - 10px);
	height: 44px;
	margin: 5px;
	border: 1px solid #222;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.c11_item:hover {
	background-color: #BBB;
	cursor: pointer;
}
#c12 {
	max-width: 440px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	font-size: 28px;
}
.c12_item {
	width: 100%;
	height: 60px;
	border: 1px solid #222;
	border-radius: 10px;
	overflow: hidden;
}
.c12_i0 {
	float: left;
	width: 80px;
	height: calc(100% - 20px);
	margin: 10px;
	padding-left: 8px;
	font-size: 20px;
}
.c12_i1, .c12_i3 {
	float: left;
	width: calc(100% - 140px);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 60px;
	user-select: text;
}
.c12_i2 {
	float: left;
	width: 40px;
	border-radius: 10px;
	line-height: 60px;
	text-align: center;
}
.c12_i1:hover, .c12_i2:hover {
	background-color: #F42;
	cursor: pointer;
}
#c1_tips {
	text-align: center;
	margin-top: 100px;
}

.c2_item {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #CCC;
}
.c2_ii {
	margin: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 10px;
	padding: 4px;
	text-align: center;
}
.c2_arrow_hiden::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.c2_ran div {
	padding: 4px;
}
.c2_ran div:nth-child(odd) {
	background-color: #EEE;
}

#c3_ii_t {
	height: 60px;
}
#c3_ii_t1 {
	float: left;
	width: calc(100% - 180px);
	margin: 10px;
	padding: 6px;
}
#c3_ii_t2 {
	float: left;
	width: 60px;
	margin: 10px;
	padding: 6px;
	text-align: center;
}
#c3_ii_t2::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
#c3_ii_t3 {
	float: left;
	width: 60px;
	height: calc(100% - 20px);
	margin: 10px;
	border-radius: 10px;
}
#c3_ii_t3:hover {
	cursor: pointer;
	background-color: #88F;
}
.c3_ii_i {
	line-height: 60px;
	overflow: hidden;
}
.c3_ii_i1 {
	float: left;
	width: calc(100% - 160px);
	padding-left: 20px;
	text-align: left;
}
.c3_ii_i2 {
	float: left;
	width: 80px;
}
.c3_ii_i3 {
	float: left;
	width: 60px;
	height: 40px;
	margin:10px;
	border-radius: 10px;
}
.c3_ii_i3:hover {
	cursor: pointer;
	background-color: #F44;
}
.c3_main .c3_ii_i:nth-child(odd) {
	background-color: #EEE;
}